<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Live table updates</title>
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	-->
	<script src="js/angular-1.4.7.min.js"></script>
	<script src="js/streaming.js"></script>
</head>
<body>
<div ng-controller="recordsCtrl"> 
	<h1>Databound tables</h1>
	<p>In this example we explore how changes to objects on the server can be pushed to the client using server initiated communication.</p>
	<p>To try this out, go to the back end server session and set the variables in the #.Databinding namespace. Try things like:</p>
	<ul>
		<li>#.Databinding.TableA←10 10(?⍴)100</li>
		<li>#.Databinding.TableA[5;]←0</li>
		<li>#.Databinding.TableA[;3]←99</li>
	</ul>
	<p>WebSocket status: {{status}}</p>
	<table>
		<tr ng-repeat="rec in records">
			<td ng-repeat="item in rec track by $index">{{ item }}</td>
		</tr>
	</table>

</div>
</body>
</html>